<div class="main">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <h1 class="big-title">NYC Building Energy Usage Per Year <%=@presenter.min_year%>-<%=@presenter.max_year%></h1>
        <%= form_for :filters, url: {action: 'index'}, method: :get, remote: true do |f| %>
            <%= number_field_tag :year, @presenter.year, in: @presenter.min_year..@presenter.max_year %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
      <br />
      <%= render partial: 'home/data_table', locals: {'@presenter' => @presenter}%>
    </div>
  </div>
</div>
