<div class="main">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <h1 class="big-title">NYC Building Energy Usage Per Year <%=@min_year%>-<%=@max_year%></h1>
        <%= form_for :year, url: {action: 'index'} do |f| %>
            <%= f.number_field :year, in: @min_year..@max_year %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
      <table class="row">
        <tr>
          <th>

          </th>
        </tr>
        <%= render @energy_usages %>
      </table>

      <%= paginate @energy_usages %>
    </div>
  </div>
</div>
